<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>


    <arg name="est" default="lpe"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find iarc_px4_gazebo)/worlds/empty.world"/>
    <arg name="sdf" default="$(find iarc_px4_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)"/>

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />

    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="rcS" value="$(arg rcS)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="ns" value="$(arg ns)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <include file="$(find px4)/launch/mavros.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="gcs_url" value=""/> <!-- GCS link is provided by SITL -->
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
        <arg name="config_yaml" value="$(arg config_yaml)" />
    </include>

    <group ns="robot0">
    <include file="$(find iarc_px4_gazebo)/launch/one_patrolbot.launch">
      <arg name="robot_name" value="robot0"/>
      <arg name="init_pose" value="-x -5 -y 0 -z 0 -Y 0"/>
    </include>
    </group>

    <group ns="robot1">
    <include file="$(find iarc_px4_gazebo)/launch/one_patrolbot.launch">
      <arg name="robot_name" value="robot1"/>
      <arg name="init_pose" value="-x 5 -y 0 -z 0 -Y 0"/>
    </include>
    </group>

    <group ns="robot2">
    <include file="$(find iarc_px4_gazebo)/launch/one_patrolbot.launch">
      <arg name="robot_name" value="robot2"/>
      <arg name="init_pose" value="-x 0 -y 5 -z 0 -Y 0"/>
    </include>
    </group>    
    
    <group ns="robot3">
    <include file="$(find iarc_px4_gazebo)/launch/one_patrolbot.launch">
      <arg name="robot_name" value="robot3"/>
      <arg name="init_pose" value="-x 0 -y -5 -z 0 -Y 0"/>
    </include>
    </group> 

    <group ns="robot4">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot4"/>
      <arg name="init_pose" value="-x 1 -y 0 -z 0 -Y 0"/>
      <arg name="ID" value="4"/>
    </include>
   </group> 
 <group ns="robot5">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot5"/>
      <arg name="init_pose" value="-x 0.807 -y 0.657 -z 0 -Y 0.683"/>
      <arg name="ID" value="5"/>
    </include>
   </group>
 <group ns="robot6">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot6"/>
      <arg name="init_pose" value="-x 0.35 -y 1 -z 0 -Y 1.234"/>
      <arg name="ID" value="6"/>
    </include>
   </group>
 <group ns="robot7">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot7"/>
      <arg name="init_pose" value="-x -0.35 -y 1 -z 0 -Y 1.907"/>
      <arg name="ID" value="7"/>
    </include>
   </group>
 <group ns="robot8">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot8"/>
      <arg name="init_pose" value="-x -0.807 -y 0.657 -z 0 -Y 2.458"/>
      <arg name="ID" value="8"/>
    </include>
  </group>
 <group ns="robot9">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot9"/>
      <arg name="init_pose" value="-x -1 -y 0 -z 0 -Y 3.14159"/>
      <arg name="ID" value="9"/>
    </include>
  </group>
 <group ns="robot10">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot10"/>
      <arg name="init_pose" value="-x -0.807 -y -0.657 -z 0 -Y -2.458"/>
      <arg name="ID" value="10"/>
    </include>
   </group>
 <group ns="robot11">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot11"/>
      <arg name="init_pose" value="-x -0.35 -y -1 -z 0 -Y -1.907"/>
      <arg name="ID" value="11"/>
    </include>
   </group>

 <group ns="robot12">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot12"/>
      <arg name="init_pose" value="-x 0.35 -y -1 -z 0 -Y -1.234"/>
      <arg name="ID" value="12"/>
    </include>
   </group>
 <group ns="robot13">
    <include file="$(find iarc_px4_gazebo)/launch/one_robot.launch">
      <arg name="robot_name" value="robot13"/>
      <arg name="init_pose" value="-x 0.807 -y -0.657 -z 0 -Y -0.683"/>
      <arg name="ID" value="13"/>
    </include>
   </group>
</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
